TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
OS_AUTH_URL=https://identity.tyo1.conoha.io/v2.0
OS_TENANT_ID=
OS_TENANT_NAME=gnct********
OS_USERNAME=gncu********
OS_PASSWORD=
